<div class="bg-black text-white pt-4 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img class="img-fluid" src="/assets/images/mdToolkit_white_logo.PNG">
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Users</p>
        <p>mdEditor Guide</p>
        <p>Videos</p>
        <p>Report an Issue</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Participate</p>
        <p>Subscribe</p>
        <p>Join the Stakeholders</p>
        <p>Partner With Us</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Developers</p>
        <p>GitHub</p>
        <p>mdBook</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Website</p>
        <p>Cookies</p>
        <p>Privacy</p>
        <p>Accessibility</p>
      </div>
    </div>
  </div>
</div>