<div class="bg-white pt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold">Tools</p>
        <p>mdEditor</p>
        <p>mdTools</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold">Get Involved</p>
        <p>Mail - Stay informed on updates</p>
        <p>Stakeholders - Join a user representative group</p>
        <p>Report an issue</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold">User Guides</p>
        <p>mdEditor User Guide</p>
        <p>Videos</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold">Developers</p>
        <p>GitHub</p>
        <p>mdBook</p>
      </div>
      <div class="col d-flex flex-column fs-5">
        <p class="fw-bold">About This Site</p>
        <p>Cookies</p>
        <p>Privacy</p>
        <p>Accessibility</p>
        <p>Stats</p>
      </div>
    </div>
  </div>
</div>