<div class="bg-charcoal text-white pt-4 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid" src="/assets/images/mdToolkit_white_logo.PNG">
      </div>
      <div class="col-sm d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Users</p>
        <p>mdEditor Guide</p>
        <p>Videos</p>
        <p>Report an Issue</p>
      </div>
      <div class="col-sm d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Participate</p>
        <p><a class="text-white text-decoration-none" href="https://groups.google.com/g/mdeditor-announce"
            target="_blank">Subscribe</a>
        </p>
        <p><a class="text-white text-decoration-none" href="community">Join the Stakeholders</a></p>
        <p><a class="text-white text-decoration-none" href="community#partners">Partner With Us</a></p>
      </div>
      <div class="col-sm d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Developers</p>
        <p>GitHub</p>
        <p>mdBook</p>
      </div>
      <div class="col-sm d-flex flex-column fs-5">
        <p class="fw-bold footer-title">Website</p>
        <p>Cookies</p>
        <p>Privacy</p>
        <p>Accessibility</p>
      </div>
    </div>
  </div>
</div>