<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-charcoal">
  <a class="navbar-brand mx-4" href="/">
    <img src="/assets/images/mdToolkit_white_logo.PNG" alt="mdToolkit logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav fs-4 gap-4">
      <a class="nav-item nav-link" href="/tools">Tools</a>
      <a class="nav-item nav-link" href="/docs">Docs</a>
      <a class="nav-item nav-link" href="/community">Community</a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href="/code">Code</a>
    </div>
  </div>
</nav>
<!-- End Navigation -->