$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Raleway";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.square {
  aspect-ratio: 1/1;
}

.nav-link {
  color: #ffd966;
}

.footer-title {
  color: #ffd966;
}

.navbar {
  font-family: Calibri;
}