$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Raleway', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 300;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
}

.fixed-image-height {
  max-height: 650px;
}

.text-neonblue {
  color: #00b0f0;
}

.text-neonyellow {
  color: #ffe666;
}

.bg-charcoal {
  background-color: #1c1e22;
}

.bg-dark {
  background-color: rgb(38, 42, 46) !important;
}

.box {
  border-radius: 25px;
}

.nav-link {
  color: #ffd966;
}

.footer-title {
  color: #ffd966;
}

.navbar {
  font-family: Calibri;
}

.footer {
  font-family: Calibri;
}

ul {
  list-style-type: square;
}

ul li {
  color: #5b9bd5;
}

.toolsList:hover {
  background-color: lightgray;
}

@media (max-width: 480px) {
  .smaller-font {
    font-size: 10px !important;
    margin-bottom: 0;
  }

  .smaller-header-font {
    font-size: 16px !important;
  }
}